
body {
  font-family: "Poppins", sans-serif;
  background: #e6e9f1 !important;
}

footer {
    padding: 70px 0px;
}

.div {
  box-shadow: -2px -1px 88px 0px rgba(255,255,255,0.9);
}

.page-body {
    background: #e6e9f1;
    box-shadow: -2px -1px 88px 0px rgba(255,255,255,0.9);
}

.event_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0px #fff;
}

.border_side {
  margin-top: 15px; 
  border: 2.5px 2.5px #fff;
}

.link {
  fill:none;
  stroke:#bbb;
  opacity: 0.2;
}

.footer {
    text-align: center;
    margin-top: 1px;
}


.footer p {
    color: #797878;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1px;
}

.navbar {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 100%;
}

.custom-navbar .nav li a {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.button {
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: #1abc9c;
  background: none;
  cursor: pointer;
  padding: 10px 60px;
  padding-left: 0px;
  display: inline-block;
  margin: 8px 30px;
  margin-left: 5px;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
}

.network {
  border-style:ridge;
  border-color: lightgray;
}
.col-sm-4 {
  border-style: ridge;
  border-color: lightgray;
}

.ticks {
  font: 10px sans-serif;
  font-family: "Poppins", sans-serif;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 25px;
  text-align: center;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #A3CEE1;
  border-radius: 1.3px;
  border: 0.2px solid #A3CEE1;
  position:absolute;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  position:absolute;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #96858F;
  position:absolute;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #9EB9D4;
  background: #f6f7fa; 
  border-radius: 1.3px;
  border: 0.2px solid #000000;
  position:absolute;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #6495ED;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #56699c;
  cursor: pointer;
  position:absolute;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  position:absolute;
}
input[type=range]::-ms-fill-lower {
  background: #9099A2;
  border: 0.2px solid #a00101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  position:absolute;
}
input[type=range]::-ms-fill-upper {
  background: #9099A2;
  border: 0.2px solid #a00101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  position:absolute;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #438496;
  cursor: pointer;
  height: 8.4px;
  position:absolute;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #A3CEE1;
}
